@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Oswald:wght@200&display=swap');

body{
    height: 100vh;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

/* Centers all elements in pa nge */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh 0vw;
    box-sizing: border-box;
}

/* To Do List styling */
.title {
    font-family: 'Montserrat', sans-serif;
    color: rgb(247,121,125);
    font-size: 4em;
}

/* Includes input form and the created tasks */
.list-note{
    border-radius:25px 25px 0% 0%;
    max-width: 40vw;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background: white;
}

.input {
    border-radius:25px 25px 0% 0%;
    padding: 12px 20px;
    box-sizing: border-box;
    width: 40vw;
    border: none;
    outline: none;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    border-bottom: 1px rgb(233, 231, 231) solid;
}

/* Idents tasks text */
.unordered-list {
    padding-inline-start: 10px;
}

/* Each individual task */
.li-item {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 1vh;
}

/* The X are not completely disappeared bc I believe it is a better user experience to be able to see their silhouette so the 
user knows where the buttton is located. If I would wanted to make it disappear like in the instructions, I would've done by 
coloring the X on white */

.deleteBtn{
    color: rgb(243, 238, 238);
    font-weight: bolder;
    margin-right: 2vw;
}

li:hover + .deleteBtn, .deleteBtn:hover{
    color:rgb(247,121,125);
    transition: 1s;
    cursor:pointer;
}

.items-left{
    border-radius:0% 0% 25px 25px;
    background-color: white;
    width: 40vw;
    padding: 0vh 2vw;
    border-bottom: 1px rgb(233, 231, 231) solid;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;;
}

.itemsLeftCont{
    display: flex;
    justify-content: space-between;
}

.clearBtn{
  background-color: rgb(247,121,125);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0vh 0vw 2vh;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: rgb(247,121,125);
}


.items-left p {
    color: rgb(71, 73, 84);
    font-family: 'Oswald', sans-serif;
}